<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FireApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7C0CAEAACD3F6D0FFF1C6519C25A946D70C5B8B3</string>
				<key>dateExpires</key>
				<string>12/31/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9NH395GNH2.com.desition.fireapp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:www.best-podcast-app.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>9NH395GNH2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>FireApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e8533e59-07df-435d-8696-4dbb10463b17</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.desition.fireapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9NH395GNH2</string>
				<key>name</key>
				<string>JIFCAM INC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
